.ui.label.card-ribbon {
  display: flex;
  min-width: 40% !important;
  justify-content: center;
  background-color: #6441a5;
  color: white;
  font-size: 1rem;
}

.gutarra-card-img .ui.ribbon {
  font-size: 1.2rem;
}

img.live-img {
  width: 100%;
}

div.share-clip {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.ui.grid .row.no-padded {
  padding: 0;
}

.ui.grid .column.no-l-padded {
  padding: 0 !important;
}

.ui.card .content .header {
  font-size: 1.2rem !important;
}

div.ui.clips-container {
  margin-right: 5% !important;
  margin-left: 5% !important;
}

div.ui.clips-container .ui.cards {
  display: flex;
  align-items: flex-start;
}

.ui.cards div.clip-card,
div.ui.card {
  overflow: hidden;
}

.ui.cards div.clip-card img {
  width: 100%;
}

div.ui.segment.pushable {
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: none;
}

div.clips-container .pusher {
  min-height: 40rem;
}

/* div.ui.segment.placeholder {
  min-height: 45rem;
} */

.ui.card iframe {
  max-width: 100%;
}
