body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-color: #6441a5;
  --secondary-color: #dbc3ff;
  --main-grey-color: #e5e5e5;
  --main-purple-50: #f9f7fd;
  --main-purple-100: #f1edfa;
  --main-purple-200: #e4ddf7;
  --main-purple-300: #d0c3ef;
  --main-purple-400: #b39ce4;
  --main-purple-500: #9575d7;
  --main-purple-600: #7c57c6;
  --main-purple: #6441a5;
  --main-purple-800: #593c8d;
  --main-purple-900: #493172;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 3rem !important;
  margin-bottom: 0 !important;
  background-color: var(--main-purple);
  /*  foreground color: 9575d7 */
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%239575d7' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: var(--main-purple-50);
  font-size: 3em !important;
}

h2 {
  display: flex !important;
  width: 100% !important;
  justify-content: center;
  padding: 1rem !important;
  margin-bottom: 0 !important;
  background-color: var(--main-purple-300);
  color: var(--main-purple-800);
  font-size: 2.5rem !important;
  font-weight: bolder;
}

h3 {
  display: flex !important;
  justify-content: center;
  font-size: 2rem !important;
}

a {
  color: var(--main-purple) !important;
}

/* BUTTONS */
button.ui.hidden-button {
  visibility: hidden;
}

button.ui.button.primary {
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: var(--main-color);
  color: white;
}

button.ui.button.primary:hover {
  background-color: white;
  color: var(--main-color);
}

button.ui.button.secondary {
  background-color: white;
  color: var(--main-color);
}

button.ui.button.secondary:hover {
  background-color: var(--main-color);
  color: white;
}
