.ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* .ui.card .content .header i.record{
    margin-right: 6px;
    position: relative;
    top: -4px;
} */
.ui.card.active, .ui.card.active:hover{
    background-color: gainsboro;
}